$background: #07020d;
$primary: #5db7de;
$secondary: #f1e9db;

.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 2rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.headerTitle {
		margin: 10px 0px;
	}
	.navBtns {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
}
.lineBreak {
	color: $primary;
	max-width: 900px;
	margin: 0 auto;
}
.subheader {
	// padding: 0 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 22px;
	width: 100%;
	justify-content: space-between;
	.inPageJump {
		display: flex;
		flex-direction: row;
	}
	.myLinks {
		font-size: 40px;

		display: flex;
		justify-content: flex-end;
		a {
			padding: 5px 0px 0px 0px;
		}
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.projectCard {
		min-width: 300px;
		max-width: 680px;
		height: 100%;
		margin: 0 auto;
		padding: 10px 10px 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.directLinks {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0px 5px;

			.faIcon {
				font-size: 30px;
			}
		}
		.cardContent {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			p {
				padding: 20px 0px;
			}
		}
	}
}

.skills {
	padding: 10px 0;
	font-size: 25px;
	.tech {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 85px;
	}
	.tech > * {
		padding: 0px;
		margin: 20px;
	}
}
.about {
	margin: 20px 0;
	font-size: 25px;
	p {
		font-size: 16px;
		margin: 10px;
	}
	.baseline {
		margin: 20px 0;
	}
	.hobbies {
		margin: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		h6 {
			margin: 5px 10px;
		}
	}
}

.createdBy {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 10px;
	font-size: 14px;
}

@media (max-width: 550px) {
	.header {
		font-size: 90%;
	}
	.subheader {
		font-size: 16px;
		.myLinks {
			font-size: 30px;
		}
	}
}

@media (max-width: 400px) {
	.subheader {
		font-size: 12px;
		.myLinks {
			font-size: 25px;
		}
	}
}
